@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Satisfy&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Satisfy&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #fbb1bd;
  --secondary: #ffeef1;
}
body{
  font-family: "Titillium Web", serif;
  font-style: normal;
}

.title::before,.title::after{
  content: '';
  top: 40px;
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: var(--primary);
}
.title::before{
  transform: translateX(-35px);
}
.title::after{
  transform: translateX(10px);
}

/* loading page */
.loading {
  width:50px;
  height: 50px;
  display: grid;
}
.loading:before,
.loading:after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: #fbb1bd;
  mask:repeating-linear-gradient(#000 0 5px,#0000 0 10px);
  -webkit-mask:repeating-linear-gradient(#000 0 5px,#0000 0 10px);
  animation: sh5 1.5s infinite;
}
.loading:after {
  mask:repeating-linear-gradient(#0000 0 5px,#000 0 10px);
  -webkit-mask:repeating-linear-gradient(#0000 0 5px,#000 0 10px);
  --s:-1;
}

@keyframes sh5 {
  0%,
  10% {transform: translate(0) rotate(0)}
  35% {transform: translate(calc(var(--s,1)*50%)) rotate(0)}
  66% {transform: translate(calc(var(--s,1)*50%)) rotate(calc(var(--s,1)*180deg))}
  90%,
  100% {transform: translate(0) rotate(calc(var(--s,1)*180deg))}
}



/* animation */
@keyframes toRightAnimation{
  from{
    opacity: 0;
    transform: translateX(-100px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes toLeftAnimation{
  from{
    opacity: 0;
    transform: translateX(100px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes opacityAnimation{
  to{
    opacity: 1;
  }
}